html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            //-bisa menggunakan html sintaks biasa
            <link rel="stylesheet" href="/css/style.css"/> 
            link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            title Natours | #{title}
    body
        // Header
        include incl/_header.pug

        // Content
        block content
            h1 Heading placeholder

        // Footer
        include incl/_footer.pug
    
        script(src="/js/mapbox.js")


