html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //-bisa menggunakan html sintaks biasa
        <link rel="stylesheet" href="css/style.css"/> 
        link(rel="shortcut icon", href="img/favicon.png", type="image/png")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        title Natours | #{tour}
    body
        // Header
        include incl/_header.pug

        // Content
        section.overview
            h1= tour

        // Footer
        include incl/_footer.pug

