html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //-bisa menggunakan html sintaks biasa
        <link rel="stylesheet" href="css/style.css"/> 
        link(rel="shortcut icon", href="img/favicon.png", type="image/png")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        title Natours | #{tour}
    body
        // Header
        header.header
            nav.nav.nav--tours
                a.nav__el(href="#") All Tours
            .header__logo
                img(src="img/logo-white.png" alt="Natours logo")
            nav.nav.nav--user
                //- a.nav__el(href="#") My Bookings
                //- a.nav__el(href="#")
                //-     img.nav__user-img(src="img/user.jpg" alt="user photo")
                //-     span Jonas
                button.nav__el login
                button.nav__el.nav__el--cta Sign Up

        // Content
        section.overview
            h1= tour

        footer.footer
            .footer-logo
                img(src="img/logo-green.png" alt="Natours Logo")
            ul.footer__nav
                li: a(href="#") About Us
                li: a(href="#") Download Apps
                li: a(href="#") Become a guide
                li: a(href="#") Careers
                li: a(href="#") Contact
            p.footer__copyright &copy; by Jonas Schmedtman. Feel free to use this project for your own purposes, Except producing your own course or tutorials!

